html, body {
	height: 80vh;
}

.content {
	padding-top: 90px;
} 

#left-box {
	border: 2px solid lightgray;
	height: 80vh;
}

#right-box {
	height: 80vh;
	width: 95%;
}

.small-box {
	border: 2px solid lightgray;
	height: 40vh;
}

#bet-img {
	width: 100%; 
	max-height: 90%;
}

.fields {
	width: 100%;
	padding: 20px;
}

.upload-fields {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 60px;
}

#bets-left {
	text-align: center;
}

#check-ew {
	float: left;
	padding-left: 18%;
}

.no-bets {
	padding: 190px 70px;
}

.no-bets-translate {
	padding: 90px 250px;
}

#table {
	padding: 30px;
	padding-top:51px;
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 85vh;
}

.table-scroll tr {
    width: 98%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}

.hand-cursor { 
	cursor: pointer; 
	cursor: hand; 
}

.table-hoverplus>tbody>tr:hover>td {
 	background-color: #eeeeee;
}