html, body {
	height: 80vh;
}

body {
	padding-top: 90px;
}     

#left-box {
	border: 2px solid lightgray;
	height: 80vh;
}

#right-box {
	height: 80vh;
	width: 95%;
}

.small-box {
	border: 2px solid lightgray;
	height: 40vh;
}

#bet-img {
	width: 100%; 
	max-height: 90%;
}

.fields {
	width: 100%;
	padding: 20px;
}

.upload-fields {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 60px;
}

#bets-left {
	text-align: center;
}

#check-ew {
	float: left;
	padding-left: 18%;
}

.no-bets {
	padding: 190px 70px;
}

.no-bets-translate {
	padding: 90px 250px;
}